/* styles.css */

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
#hero {
    background: url('assets/images/hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero img.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#hero h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

#hero h2 {
    font-size: 2rem;
    font-weight: 300;
}

#hero #view-work-btn {
    background-color: #f44336;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Navigation Styles */
nav {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 3rem 0;
}

section#bio {
    background: #f4f4f4;
    color: #333;
    text-align: center;
}

section#bio p {
    width: 75%;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.5;
}

section#skills {
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.skill-item {
    background: #f4f4f4;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1.2rem
